.navbar-inverse{
	background-color: black;
	
}
.footer {
	width: 100%;
	bottom: 0;
	height: 50px;
	background-color: black;
	padding: 15px;
	color : green;
}

.error {
	color: red;

}

.container{
	font-family :impact;
	
}
.jumbotron{
	font-family :georgia;	
	background-image: url("/resources/images/ffield.jpg");
	 background-size:cover;
	color:black;
	
	
	
}

h1, h2 , h3 , h4{
	font-family :georgia;
}
.desc{
	font-family :sans-serif;
	padding-left:6px;
}
.team-box{
	background-color: #f2f2f2;
	border:1px solid;
	border-radius:3px;
}
.team{
	font-family :impact;
}
.news {
	width:100%;
	height:1000px;
	
	
}
body{
	background-color:#efefed;
}
.newsl, .newsc, .newsr{
	float:left;
	height:100%;
	
	}
.newsl, .newsr{
	width:25%;
	
}
.newsc{
	width:50%;
	background-color:#f2f2f2;
	border:1px solid grey;
}
.photor, .photol{
	height:20%;
	width:20%;
	float:left;
	margin-bottom:2%;
	
}
.photo{
	width:60%;
	height:20%;
	background-color: green;
	float:left;
	margin-bottom:2%;
	
}
.text{
	padding-left:2%;
}
img{
	width:100%;
	height:100%;
}

